.hobbies-container {
  background-color: lightblue;
  width: 20%;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
}

.hobbies-list {
  list-style-type: none;
  padding: 0;
}

.hobby-item {
  font-size: 18px;
  background-color: lightcyan;
  margin: 15px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}