main {
  margin: 150px 0;
  text-align: center;
}

ul {
  display: inline-block; 
  text-align: left; 
}
.title {
  color: navy;
  font-weight: bold;
}
table{
  width: 30%;
  margin: auto;

}

.description {
  color: gray;
  font-style: italic;
  margin-top: 5px;
}






.btn {
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: green;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.user-table {
  width: 50%;
  margin: auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}



.task-list {
  list-style-type: none;
  padding: 0;
  width: 60%;
  margin: auto;
}

.task-list li {
  background-color: #bdebf4;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.number-list {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: auto;
  text-align: center;
}

.number-list li {
  background: #d0f0ff;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}